.container{
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */

}
.itemcatagories{
    background-color: white;
    /* width: 100%; */
    height: 460px;
    color: black;
    text-align: center;
    margin-top: 10px;

}
.topnav{
      display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 55px;


}
.containers{
    flex: 3;
}
.itemcatagories{
    flex: 9;
    width: 100%;
    height: 560px;
}

.aaa{
    background-color: white;
    color: black;
        padding: 4px;
}
#catagories{
        background-color: white;
    color: black;

}
input{
    border-radius: 10px;
    border: 2px solid black;
    /* width: 100%; */
    padding: 4px;
    margin: 5px;
}
.itemhead{
    text-align: center;
  
    display: flex;
    justify-content:space-between ;
}
.rightside{
    flex: 1;
    margin-top: 5px;
    background-color: white;
    color: darkgreen;
    padding: 10px;
    border-radius: 10px;
}
.navitemlist{
    display: flex;
    justify-content: space-between;
     background-color: white;
    color: black;
}
.items{
    background-color: white;
    color: black;
}
input{
     background-color: white;
    color: black;
} 
.catagoryitem {
     background-color: white;
    color: black;
}
#items{
      background-color: white;
    color: black;
}

.action{
    display: flex;
    justify-content: space-between;
}


table {
    min-width: 800px;
}

.action button {
    white-space: nowrap;
}
